@page "/"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.HomeTitle)]</PageTitle>
@* <link href="_content/SharpSoft.App.Client.Core/lib/leaflet/leaflet.css" rel="stylesheet" />
<script src="_content/SharpSoft.App.Client.Core/lib/leaflet/leaflet.js"></script>
 *@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js" integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div id="map">
   
</div>
<div id="bars"></div>
<div class="refresh">
    <button class="btn btn-outline-primary" type="button" @onclick="(() => RefreshLocation())">refresh</button>
    <button class="btn btn-primary" type="button">@currentTime</button>
</div>
<div class="buttonswrapper">
    <div class="d-grid gap-2">
            <button class="btn btn-success btn-lg" @onclick="(() => CheckIn(true))"> @Localizer[nameof(AppStrings.CheckIn)]</button>
            <button class="btn btn-danger btn-lg btn-block" @onclick="(() => CheckIn(false))">@Localizer[nameof(AppStrings.CheckOut)]</button>
        </div>
</div>

<OkModal @bind-IsOpen="okSubmited" />
<ErrorModal @bind-IsOpen="errorSubmited" />

<ErrorModal @bind-IsOpen="locationIsOff" />

<BitModal @bind-IsOpen="locationIsOff">
    <div class="modal-header">
        <span>location access error</span>
        <BitIconButton OnClick=@(() => locationIsOff = false) IconName="@BitIconName.ChromeClose" Title="Close" />
    </div>
    <div class="modal-body">
        <p>
            @Localizer[nameof(AppStrings.NeedLocation)]
        </p>
        <p>
            @Localizer[nameof(AppStrings.TurnOnLocation)]
        </p>
    </div>
</BitModal>

